#boston_header{
      padding: 5 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: left;    
}
footer hr{
	border-color: black;
	width: 90%;
}
.navbar{
  opacity: 0.85;
}




